

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my_page{
  height: 982px;
  /* width: 1512PX; */
  /* padding-top: 9px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.Header{
  /* width: ; */
  /* height: 123px; */
  /* padding: 0px 30px 0px 80px; */
  padding: 12px;
  background: #6C9EFE;
  /* margin-left: 9px; */
  font-weight: bold;
}

.header-menu {display: flex;flex-direction: row;align-items: center;width: 100%;justify-content: space-between;}

.header-menu-small {
display: none;
}

.header-menu-large {display: flex;justify-content: space-between;align-items: center;width: 50%;}

 .profilepic{
    width: 70px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
 }

 .menu{
   height: 68px;
   background-color: #F5F5F5;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   padding: 20px 350px 20px 20px;
   font-weight: bold;
 }

 .main_center{
    height: 355px;
    background-image:url('Icons/Programming\ photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
 }
 .main_center{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   font-size: 40px;
 }
 .Main{
   display: flex;
   flex-direction:  column;
 }



a{
   text-decoration: none;
   color: black;
}

.Detail{
    height: 332px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: center;
    gap: 9px;
    line-height: 1.5;
}

.me{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    padding: 2%;
    border-radius: 14px;
   }

.Mission{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 1.9;
    padding: 2%;
    border-radius: 14px;
}

 .text{
   display: flex;
   flex-direction: row;
   justify-self: flex-start;
   align-content: center;
   margin-left: 50px;
 }


 
/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .my_page {
      height: auto;
      max-width: 600px;
      padding: 3px;
  }

  .header-menu-small {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .profilepic {
      grid-column: 3 / span 2;
      grid-row: 1;
      height: 40px;
      width: 40px;

}

}


/* Tablets Styles */
@media only screen and (min-width:601px) and (max-width:990px) {
.my_page{
  height: auto;
  /* max-width: 100%; */
  padding: 6px;
  display: flex;
  flex-direction:column;
}
.Header{
max-width: 100%;
/* max-height: 80px; */
padding: 12px;
font-size: 15px;
}

.header-menu-large {
display: none;
}

.header-menu-small {
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;

}

}
   