
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .my_page{
    height: 982px;
    width: 1512PX;
    padding: 9px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none;
 }

 .Header{
    width: 1489px;
    height: 123px;
    padding: 0px 30px 0px 80px;
    background: #6C9EFE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    font-weight: bold;
}


 .profilepic{
   width: 100px;
   height: 80px;
    border-radius: 50%;
 }

 .menu{
   width: 1489px;
   height: 68px;
   background-color: #F5F5F5;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   padding: 20px 350px 20px 20px;
   margin: 12px 0px 12px 0px;
   font-weight: bold;
 }

 .main_center{
    width: 1489px;
    height: 355px;
    background-image:url('Icons/Programming\ photo.jpg') ;
    background-size: cover; 
    background-repeat: no-repeat; 
    color: white;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
 }
 .main_center{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   font-size: 40px;
 }
 .Main{
   display: flex;
   flex-direction:  column;
 }

 .headerlink1{
   margin-left: 300px;
 }

a{
   text-decoration: none;
   color: black;
}

.Detail{
    width: 1489px;
    height: 332px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 9px;
    line-height: 1.5;
}

.me{
    height:264px ;
    width: 673px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    border-radius: 14px;
   }

.Mission{
    height:264px ;
    width: 614px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 1.9;
    border-radius: 14px;
}

.Left{
   display: flex;
   flex-direction:row;
}
 .text{
   display: flex;
   flex-direction: row;
   justify-self: flex-start;
   align-content: center;
   margin-left: 50px;
 }
   