

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my_page{
  height: 982px;
  /* width: 1512PX; */
  /* padding-top: 9px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.Header{
  /* width: ; */
  /* height: 123px; */
  /* padding: 0px 30px 0px 80px; */
  padding: 9px;
  background: #6C9EFE;
  /* margin-left: 9px; */
  font-weight: bold;
}

.header-menu {display: flex;flex-direction: row;align-items: center;width: 100%;justify-content: space-between;}

.header-menu-small {display: none;}

.header-menu-large {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  }

.profilepic{
  width: 70px;
  height: 65px;
  border-radius: 50%;
}

.menu{
  /* width: 940px; */
  height: 68px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 9px;
  /* margin: 12px 0px 12px 9px; */
  font-weight: bold;
}


.art_right{
    width: 80%;
    height: 80%;
    background-color: #D9D9D9;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    line-height: 2;
    font-size: small;
    border-radius: 11px;
  }
  
 .Main{
   /* display: flex; */
   /* justify-content: flex-start; */
   /* flex-direction: row; */
   /* align-content: flex-start; */
   /* align-items: flex-start; */
 }

 .Big_Main{
     display: flex;
     justify-content: flex-start;
     flex-direction: row;
 }

 .combinedparagraph{
  display: flex;
  /* align-items: baseline; */
  align-content: flex-start;
 }

 .first_paragraph{
  width: 65%;
  text-align: justify;
 }

 .art_left{
   display: flex;
   flex-direction: column;
   position: relative;
   font-size: 15px;
   top: 200px;
   padding-left: 1%;
   width: 12%;
 }
   .supermain{
      height:737px;
      /* width:1090px ; */
      padding: 0px 20px;
      display: flex;
 }

 .art_center{
  height:803px;
  /* width:960px ; */
  padding: 0px 0% 0% 15%;
  /* margin-right: 13px; */
  overflow: scroll;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
}

 .headerlink1{
   /* margin-left: 300px; */
 }


a{
   text-decoration: none;
   color: black;
}
.Titles{
    /* width: 1489px; */
    height: 5%;
    background-color: #D9D9D9;
    /* margin-bottom: 9px; */
    padding: 9px;
    /* padding-top: 8px; */
    /* font-weight: bolder; */
    /* text-align: justify; */
}

button{
    height: 26px;
    width: 113px;
    background-color: #6C9EFE;
    border-radius: 20px;
    margin: 25px 0px 0px 65px;
    font-size: 20px;
}

 
.AuthorPic{
  width: 30%;
  height: 60%;
  border-radius: 70%;
  padding: 12px;
}

.AuthorInfo{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 80px;
}

.title{
  padding: 20px 5px 10px 5px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.footage{
  display: flex;
  justify-content: space-around;
  width: 400px;
}




/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .my_page {
      height: auto;
      max-width: 600px;
      padding: 3px;
  }

  .header-menu-small {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .profilepic {
      grid-column: 3 / span 2;
      grid-row: 1;
      height: 40px;
      width: 40px;

}

}


/* Tablets Styles */
@media only screen and (min-width:601px) and (max-width:990px) {
.my_page{
  height: auto;
  /* max-width: 100%; */
  /* padding: 6px; */
  display: flex;
  flex-direction:column;
}
.Header{
max-width: 100%;
/* max-height: 80px; */
padding: 12px;
font-size: 15px;
}

.header-menu-large {
display: none;
}

.header-menu-small {
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;

}

}