/* Dashboard.css */
body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f2f0f0;
}


.Header{
  background-color: #6C9EFE;
  display: flex;
  align-items: center;
  padding: 10px;
}

.dashboard-title {
  font-size: 34px; 
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  height: 70%;
}


.mainLeft {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainRight {
  width: 65%;
  height: 90%;
  padding: 3px 1% 1% 1%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.Logout{
  width: 120px;
}

#modifyOption{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  row-gap: 40px;
  padding: 0%;
}


#thisCanBeDeleted{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  row-gap: 1%;
  background-color: rgb(182, 212, 238);
  padding: 0.5%;
}
a{
  text-decoration: none;
  color: black;
}

button {
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.deleting {
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ff0000;
  color: #fff;
}

#deleteButton{
  background-color: rgb(227, 70, 70);
}

#articleText {
  height: 47vh;
}


button:hover {
  background-color: #cab052;
}


footer {
  position:static;
  height: auto;
  text-align: center;
  padding: 25px;
  background-color: #6C9EFE;
}

i {
  margin-right: 5px;
}

#goHome {
  color: black;
}

.Delete{
  background-color: rgb(227, 70, 70);
}