* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.my_page {
   height: 982px;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   text-decoration: none;
}

.Header {
   background: #6C9EFE;
   font-weight: bold;
}

.header-menu {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
   padding: 9px;
   justify-content: space-between;
}

.header-menu-small {
   display: none;
}

.header-menu-large {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 50%;
}

.profilepic {
   width: 70px;
   height: 65px;
   border-radius: 50%;
   object-fit: cover;
}

.menu {
   height: 68px;
   background-color: #F5F5F5;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 9px;
   font-weight: bold;
}

.main_area {
   height: 586px;
   background-image: url('Icons/background.png');
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 180px 0px 0px 380px;
   line-height: 2;
   color: white;
}

.lowerside {
   height: 747px;
   padding: 9px;
   background-image: url('Icons/back_for_My_skills.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   gap: 15px;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   padding-bottom: 190px;
}

.block {
   display: flex;
   gap: 0px 50px;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-around;
}

.skill1 {
   height: 179px;
   background-color: white;
   padding: 9px;
   border-radius: 16px;
   display: flex;
   gap: 0px 50px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.My_icons {
   font-size: 50px;
}

a {
   color: black;
   text-decoration: none;
}

a:hover {
   color: black;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
   .my_page {
      height: auto;
      max-width: 600px;
      padding: 3px;
   }

   .header-menu-small {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
   }

   .profilepic {
      grid-column: 3 / span 2;
      grid-row: 1;
      height: 40px;
      width: 40px;
   }
}

/* Tablets Styles */
@media only screen and (min-width:601px) and (max-width:990px) {
   .my_page {
      height: auto;
   }

   .Header {
      max-width: 100%;
      padding: 9px;
      font-size: 15px;
   }

   .header-menu-large {
      display: none;
   }

   .header-menu-small {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
   }
}
